<div class="w-100 text-center my-5">
  <h2>Please Specify your Game to Find the Most Suitable Peers</h2>
  <form [formGroup]="favouriteGame" (ngSubmit)="selectingFavouriteGame()">

    <div>
      <select formControlName='game' class="form-select-lg" >
        <option class=".option" *ngFor="let gm of playerDetails.handles"  value="{{gm.game}}">{{gm.game}}</option>
      </select>
    </div>

    <div class=""><button type="submit" class="my-2 btn-success">Confirm</button></div>
  </form>
</div>



<div class="container">
  <div *ngFor="let peer of dataObjects" class="card">
    <div>
      <img *ngIf="peer.profilePicture" src="{{peer.profilePicture}}" alt="user" class="img-fluid text-center img-circle">
      <img *ngIf="!peer.profilePicture" src="../../assets/images/NewPlayer.png" alt="Person" class="card__image">
    </div>

    <p class="card__name">{{peer.userName}}</p>
    <a class="btn draw-border" style="text-decoration: none;" routerLink="/profile/{{peer.userName}}" target="_blank">View Profile</a>
  </div>

</div>
