.content{
  font-family: 'Cinzel', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin: auto;
  padding: 5em;
 }
// .content{
//     font-family: 'Cinzel', serif;
// }
