<!--
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@500&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&display=swap" rel="stylesheet"> -->

<!-- need to adjust the content felnos beltool without using p-5 -->
<div class="homeContent container text-center home-fonts-specifications">
    <div class="w-75 m-auto p-5">
        <h2 class="home-fonts-specifications" >Welcome to</h2>
        <h1 class="home-fonts-specifications">Party UP!</h1>
        <p>A platform where you can meet and match with other gamers around the world that best match YOUR personality and make some new friends</p>
        <br>
        <p>All you need to do to get started is to sign up for free, and start making new gaming buddies!</p>
        <div class="float-start w-50">
            <p>Sign up now for free</p>
                <button [routerLink]="['/register']" type="button" class="btn btn-outline-success home-fonts-specifications">Sign up</button>
        </div>
            <div>
                <p>Already have an account?</p>
                <button [routerLink]="['/login']" type="button" class="btn btn-outline-danger home-fonts-specifications">Login</button>
            </div>
        <div class="clearfix"></div>
    </div>

</div>
