<!-- <section>
    <div class="container">
    	<div class="row">
    	    
    		
    		
    		<div class="col-md-4 m-auto">
    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
    		        </div>
    		        <div class="card-content">
                    <h2>Justin Mccoy<small>Gamer</small></h2>
                    <div class="icon-block">
                        <i class=" px-1 fa-brands fa-discord"></i>
                    </div>
                    </div>
                </div>
    		</div>
    		
    		
    		
    	</div>
    </div>
</section> -->
<!-- <body>
    <div class="bg-danger profile">
        <img src="assets/images/Mustafa.jpg" class="pic" alt="Profile Picture">
    </div>
        
</body> -->
