.footerContent{
  position: relative;
  background-color: #212529;
}
.footer-font-specifications{
  font-family: 'Cinzel', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
}
