.container {
	max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 20px;
}

input {
  width: 50%;
  display: block;
  margin: auto;
}

td, th {
  text-align: center;
  width: 50%;
}

th {
  font-weight: bold;
  font-size: 20px;
}

//second table data
