<div class="text-center">
  <h2>
    {{ playerDetails.firstName }} {{ playerDetails.lastName }}'s list of games
    and Handles as shown in the table below
  </h2>
</div>

<div class="container">
  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">Game</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let playerHandle of playerDetails.handles">
      <td>{{ playerHandle.game }}</td>
      <td>{{ playerHandle.handle }}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="w-100 text-center my-5">
  <h2>A form to add new games and handles to your account!</h2>
  <form [formGroup]="addGameWithHandle" class="w-100 container" (ngSubmit)="sendPlayersGameWithHandle()">
    <div class="form-group">
      <input formControlName="gameName" type="text" class="" name="gameName" placeholder="specify game"/>
    </div>
    <div class="form-group my-2">
      <input formControlName="handle" type="text" class="" name="handle" placeholder="specify handle"/>
    </div>
    <button class="btn btn-success mx-2" type="submit">Confirm</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/profile']">View Profile</button>
  </form>


</div>
