<div class="padding">
  <div class="col-md-9">
    <!-- Column -->
    <div class="m-auto">
      <div class="card-body little-profile text-center my-5">
        <div class="pro-img">
          <img *ngIf="imgSrc" src="{{imgSrc}}" alt="user">
          <img *ngIf="!imgSrc" src="../../assets/images/human.png" alt="user">
        </div>
        <h3 class="m-b-0 text-white"><span class="text-muted"> UserName:</span> {{otherPlayerDetails.username }}</h3>

        <h3 class="m-b-0 text-white"><span class="text-muted">Country:</span> {{otherPlayerDetails.country.name }}</h3>
        <h3 *ngIf="otherPlayerDetails.peer" class="m-b-0 text-muted">Player's Handles in games: </h3>

        <h3 *ngFor="let handle of otherPlayerDetails.handles" class="m-b-0 text-warning ">{{handle.game}}: <span class="text-white">{{handle.handle }}</span></h3>

        <h3 *ngIf="otherPlayerDetails.peer" class="m-b-0 text-muted">Discord Tag: </h3>

         <h3 class="m-b-0">{{otherPlayerDetails.discordTag }}</h3>

        <a *ngIf="!otherPlayerDetails.requested && !otherPlayerDetails.otherRequested && !otherPlayerDetails.peer" (click)="sendPeerRequest()" class="m-t-10 waves-effect waves-dark btn btn-outline-success btn-rounded mx-2" data-abc="true">Add Peer</a>
        <button *ngIf="otherPlayerDetails.requested" class="m-t-10 waves-effect waves-dark btn btn-success btn-rounded mx-2" data-abc="true" disabled>Pending</button>
        <button *ngIf="otherPlayerDetails.otherRequested" (click)="acceptingTheRequest()" class="m-t-10 waves-effect waves-dark btn btn-outline-success btn-rounded " data-abc="true" >Accept</button>
        <button *ngIf="otherPlayerDetails.otherRequested" (click)="rejectingTheRequest()" class="m-t-10 waves-effect waves-dark btn btn-outline-danger btn-rounded mx-2" data-abc="true" >Reject</button>
        <button *ngIf="otherPlayerDetails.peer" (click)="unPeer()" class="m-t-10 waves-effect waves-dark btn btn-success btn-rounded" data-abc="true" >UnPeer</button>
        <button *ngIf="!otherPlayerDetails.reviewed && otherPlayerDetails.peer" routerLink="/reviewPeer/{{userName}}" class="m-t-10 waves-effect waves-dark btn btn-success btn-rounded mx-2" data-abc="true" >Review</button>
        <!-- a5r button me7tag ndef feh 7abet ngIf mn fo2 -->

        <a [routerLink]="['/profile']" class="m-t-10 waves-effect waves-dark btn btn-primary btn-rounded" data-abc="true">Go Back</a>
<!--        <div class="row text-center m-t-20">-->
          <!-- <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">10434</h3><small>Articles</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">434K</h3><small>Followers</small>
          </div>
          <div class="col-lg-4 col-md-4 m-t-20">
            <h3 class="m-b-0 font-light">5454</h3><small>Following</small>
          </div> -->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
