<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personality Test</title>
</head>
<body>

<div class="my-2 text-center container">
  <h1>Personality Test</h1>
  <h2>Please answer all questions below sincerely</h2>
  <h3>Give yourself a rating from 1 ~ 5 for each question</h3>


  <div class="container tb-10">
    <form (ngSubmit)="submit()" [formGroup]="multistep">
      <div *ngIf="step == 1" formGroupName="Page1">
        <div>
          <label>Q1: I am energetic during the game.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q1" value="1" class="mx-2"  formControlName='q1'>
          <label>2:</label>
          <input type="radio" name="q1" value="2" class="mx-2"  formControlName='q1'>
          <label>3:</label>
          <input type="radio" name="q1" value="3" class="mx-2"  formControlName='q1'>
          <label>4:</label>
          <input type="radio" name="q1" value="4" class="mx-2"  formControlName='q1'>
          <label>5:</label>
          <input type="radio" name="q1" value="5" class="mx-2"  formControlName='q1'>
        </div>
        <div class="my-2">
          <label>Q2: I don't talk a lot while gaming.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q2" value="1" class="mx-2"  formControlName='q2'>
          <label>2:</label>
          <input type="radio" name="q2" value="2" class="mx-2"  formControlName='q2'>
          <label>3:</label>
          <input type="radio" name="q2" value="3" class="mx-2"  formControlName='q2'>
          <label>4:</label>
          <input type="radio" name="q2" value="4" class="mx-2"  formControlName='q2'>
          <label>5:</label>
          <input type="radio" name="q2" value="5" class="mx-2"  formControlName='q2'>
        </div>
        <div class="my-2">
          <label>Q3: I feel comfortable playing with others.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q3" value="1" class="mx-2" formControlName='q3'>
          <label>2:</label>
          <input type="radio" name="q3" value="2" class="mx-2"  formControlName='q3'>
          <label>3:</label>
          <input type="radio" name="q3" value="3" class="mx-2"  formControlName='q3'>
          <label>4:</label>
          <input type="radio" name="q3" value="4" class="mx-2"  formControlName='q3'>
          <label>5:</label>
          <input type="radio" name="q3" value="5" class="mx-2"  formControlName='q3'>
        </div>
        <div class="my-2">
          <label>Q4: I start conversations.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q4" value="1" class="mx-2"  formControlName='q4'>
          <label>2:</label>
          <input type="radio" name="q4" value="2" class="mx-2"  formControlName='q4'>
          <label>3:</label>
          <input type="radio" name="q4" value="3" class="mx-2"  formControlName='q4'>
          <label>4:</label>
          <input type="radio" name="q4" value="4" class="mx-2"  formControlName='q4'>
          <label>5:</label>
          <input type="radio" name="q4" value="5" class="mx-2"  formControlName='q4'>
        </div>
        <div class="my-2">
          <label>Q5: I like to talk to new people in games.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q5" value="1" class="mx-2"  formControlName='q5'>
          <label>2:</label>
          <input type="radio" name="q5" value="2" class="mx-2"  formControlName='q5'>
          <label>3:</label>
          <input type="radio" name="q5" value="3" class="mx-2"  formControlName='q5'>
          <label>4:</label>
          <input type="radio" name="q5" value="4" class="mx-2"  formControlName='q5'>
          <label>5:</label>
          <input type="radio" name="q5" value="5" class="mx-2"  formControlName='q5'>
        </div>
        <div class="my-2">
          <label>Q6: I like to talk to new people in games.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q6" value="1" class="mx-2"  formControlName='q6'>
          <label>2:</label>
          <input type="radio" name="q6" value="2" class="mx-2"  formControlName='q6'>
          <label>3:</label>
          <input type="radio" name="q6" value="3" class="mx-2"  formControlName='q6'>
          <label>4:</label>
          <input type="radio" name="q6" value="4" class="mx-2"  formControlName='q6'>
          <label>5:</label>
          <input type="radio" name="q6" value="5" class="mx-2"  formControlName='q6'>
        </div>
        <div class="my-2">
          <label>Q7: I like to talk to new people in games.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q7" value="1" class="mx-2"  formControlName='q7'>
          <label>2:</label>
          <input type="radio" name="q7" value="2" class="mx-2"  formControlName='q7'>
          <label>3:</label>
          <input type="radio" name="q7" value="3" class="mx-2"  formControlName='q7'>
          <label>4:</label>
          <input type="radio" name="q7" value="4" class="mx-2"  formControlName='q7'>
          <label>5:</label>
          <input type="radio" name="q7" value="5" class="mx-2"  formControlName='q7'>
        </div>
        <div class="my-2">
          <label>Q8: I get stressed out easily.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q8" value="1" class="mx-2"  formControlName='q8'>
          <label>2:</label>
          <input type="radio" name="q8" value="2" class="mx-2"  formControlName='q8'>
          <label>3:</label>
          <input type="radio" name="q8" value="3" class="mx-2"  formControlName='q8'>
          <label>4:</label>
          <input type="radio" name="q8" value="4" class="mx-2"  formControlName='q8'>
          <label>5:</label>
          <input type="radio" name="q8" value="5" class="mx-2"  formControlName='q8'>
        </div>
        <div class="my-2">
          <label>Q9: I am relaxed most of the time.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q9" value="1" class="mx-2"  formControlName='q9'>
          <label>2:</label>
          <input type="radio" name="q9" value="2" class="mx-2"  formControlName='q9'>
          <label>3:</label>
          <input type="radio" name="q9" value="3" class="mx-2"  formControlName='q9'>
          <label>4:</label>
          <input type="radio" name="q9" value="4" class="mx-2"  formControlName='q9'>
          <label>5:</label>
          <input type="radio" name="q9" value="5" class="mx-2"  formControlName='q9'>
          <br>
          <span class="text-danger my-2" *ngIf="submitted && multistep.invalid && forTheSpan">Please, answer all the questions in order to proceed!</span>
        </div>
      </div>
      <div *ngIf="step == 2" formGroupName="Page2">
        <div class="my-2">
          <label>Q10: I get upset easily.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q10" value="1" class="mx-2"  formControlName='q10'>
          <label>2:</label>
          <input type="radio" name="q10" value="2" class="mx-2"  formControlName='q10'>
          <label>3:</label>
          <input type="radio" name="q10" value="3" class="mx-2"  formControlName='q10'>
          <label>4:</label>
          <input type="radio" name="q10" value="4" class="mx-2"  formControlName='q10'>
          <label>5:</label>
          <input type="radio" name="q10" value="5" class="mx-2"  formControlName='q10'>
        </div>
        <div class="my-2">
          <label>Q11: I change my mood a lot.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q11" value="1" class="mx-2"  formControlName='q11'>
          <label>2:</label>
          <input type="radio" name="q11" value="2" class="mx-2"  formControlName='q11'>
          <label>3:</label>
          <input type="radio" name="q11" value="3" class="mx-2"  formControlName='q11'>
          <label>4:</label>
          <input type="radio" name="q11" value="4" class="mx-2"  formControlName='q11'>
          <label>5:</label>
          <input type="radio" name="q11" value="5" class="mx-2"  formControlName='q11'>
        </div>
        <div class="my-2">
          <label>Q12: I prefer playing on my own.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q12" value="1" class="mx-2" formControlName='q12'>
          <label>2:</label>
          <input type="radio" name="q12" value="2" class="mx-2"  formControlName='q12'>
          <label>3:</label>
          <input type="radio" name="q12" value="3" class="mx-2"  formControlName='q12'>
          <label>4:</label>
          <input type="radio" name="q12" value="4" class="mx-2"  formControlName='q12'>
          <label>5:</label>
          <input type="radio" name="q12" value="5" class="mx-2"  formControlName='q12'>
        </div>
        <div class="my-2">
          <label>Q13: I am interested in knowing new people.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q13" value="1" class="mx-2"  formControlName='q13'>
          <label>2:</label>
          <input type="radio" name="q13" value="2" class="mx-2"  formControlName='q13'>
          <label>3:</label>
          <input type="radio" name="q13" value="3" class="mx-2"  formControlName='q13'>
          <label>4:</label>
          <input type="radio" name="q13" value="4" class="mx-2"  formControlName='q13'>
          <label>5:</label>
          <input type="radio" name="q13" value="5" class="mx-2"  formControlName='q13'>
        </div>
        <div class="my-2">
          <label>Q14: I get nervous when I lose.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q14" value="1" class="mx-2"  formControlName='q14'>
          <label>2:</label>
          <input type="radio" name="q14" value="2" class="mx-2"  formControlName='q14'>
          <label>3:</label>
          <input type="radio" name="q14" value="3" class="mx-2"  formControlName='q14'>
          <label>4:</label>
          <input type="radio" name="q14" value="4" class="mx-2"  formControlName='q14'>
          <label>5:</label>
          <input type="radio" name="q14" value="5" class="mx-2"  formControlName='q14'>
        </div>
        <div class="my-2">
          <label>Q15: I sympathize with others' feelings.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q15" value="1" class="mx-2"  formControlName='q15'>
          <label>2:</label>
          <input type="radio" name="q15" value="2" class="mx-2"  formControlName='q15'>
          <label>3:</label>
          <input type="radio" name="q15" value="3" class="mx-2"  formControlName='q15'>
          <label>4:</label>
          <input type="radio" name="q15" value="4" class="mx-2"  formControlName='q15'>
          <label>5:</label>
          <input type="radio" name="q15" value="5" class="mx-2"  formControlName='q15'>
        </div>
        <div class="my-2">
          <label>Q16: I prefer making friends over winning.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q16" value="1" class="mx-2"  formControlName='q16'>
          <label>2:</label>
          <input type="radio" name="q16" value="2" class="mx-2"  formControlName='q16'>
          <label>3:</label>
          <input type="radio" name="q16" value="3" class="mx-2"  formControlName='q16'>
          <label>4:</label>
          <input type="radio" name="q16" value="4" class="mx-2"  formControlName='q16'>
          <label>5:</label>
          <input type="radio" name="q16" value="5" class="mx-2"  formControlName='q16'>
        </div>
        <div class="my-2">
          <label>Q17: I help newbies.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q17" value="1" class="mx-2"  formControlName='q17'>
          <label>2:</label>
          <input type="radio" name="q17" value="2" class="mx-2"  formControlName='q17'>
          <label>3:</label>
          <input type="radio" name="q17" value="3" class="mx-2"  formControlName='q17'>
          <label>4:</label>
          <input type="radio" name="q17" value="4" class="mx-2"  formControlName='q17'>
          <label>5:</label>
          <input type="radio" name="q17" value="5" class="mx-2"  formControlName='q17'>
        </div>
        <div class="my-2">
          <label>Q18: I am always prepared.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q18" value="1" class="mx-2"  formControlName='q18'>
          <label>2:</label>
          <input type="radio" name="q18" value="2" class="mx-2"  formControlName='q18'>
          <label>3:</label>
          <input type="radio" name="q18" value="3" class="mx-2"  formControlName='q18'>
          <label>4:</label>
          <input type="radio" name="q18" value="4" class="mx-2"  formControlName='q18'>
          <label>5:</label>
          <input type="radio" name="q18" value="5" class="mx-2"  formControlName='q18'>
          <br>
          <span class="text-danger" *ngIf="submitted && multistep.invalid && forTheSpan">Please, answer all the questions in order to proceed!</span>
        </div>
      </div>
      <div *ngIf="step == 3" formGroupName="Page3">
        <div class="my-2">
          <label>Q19: I pay attention to details.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q19" value="1" class="mx-2"  formControlName='q19'>
          <label>2:</label>
          <input type="radio" name="q19" value="2" class="mx-2"  formControlName='q19'>
          <label>3:</label>
          <input type="radio" name="q19" value="3" class="mx-2"  formControlName='q19'>
          <label>4:</label>
          <input type="radio" name="q19" value="4" class="mx-2"  formControlName='q19'>
          <label>5:</label>
          <input type="radio" name="q19" value="5" class="mx-2"  formControlName='q19'>
        </div>
        <div class="my-2">
          <label>Q20: I don't stick to a gaming style.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q20" value="1" class="mx-2"  formControlName='q20'>
          <label>2:</label>
          <input type="radio" name="q20" value="2" class="mx-2"  formControlName='q20'>
          <label>3:</label>
          <input type="radio" name="q20" value="3" class="mx-2"  formControlName='q20'>
          <label>4:</label>
          <input type="radio" name="q20" value="4" class="mx-2"  formControlName='q20'>
          <label>5:</label>
          <input type="radio" name="q20" value="5" class="mx-2"  formControlName='q20'>
        </div>
        <div class="my-2">
          <label>Q21: I like order.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q21" value="1" class="mx-2" formControlName='q21'>
          <label>2:</label>
          <input type="radio" name="q21" value="2" class="mx-2"  formControlName='q21'>
          <label>3:</label>
          <input type="radio" name="q21" value="3" class="mx-2"  formControlName='q21'>
          <label>4:</label>
          <input type="radio" name="q21" value="4" class="mx-2"  formControlName='q21'>
          <label>5:</label>
          <input type="radio" name="q21" value="5" class="mx-2"  formControlName='q21'>
        </div>
        <div class="my-2">
          <label>Q22: I exit the game when I feel I am losing.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q22" value="1" class="mx-2"  formControlName='q22'>
          <label>2:</label>
          <input type="radio" name="q22" value="2" class="mx-2"  formControlName='q22'>
          <label>3:</label>
          <input type="radio" name="q22" value="3" class="mx-2"  formControlName='q22'>
          <label>4:</label>
          <input type="radio" name="q22" value="4" class="mx-2"  formControlName='q22'>
          <label>5:</label>
          <input type="radio" name="q22" value="5" class="mx-2"  formControlName='q22'>
        </div>
        <div class="my-2">
          <label>Q23: I follow a plan in game.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q23" value="1" class="mx-2"  formControlName='q23'>
          <label>2:</label>
          <input type="radio" name="q23" value="2" class="mx-2"  formControlName='q23'>
          <label>3:</label>
          <input type="radio" name="q23" value="3" class="mx-2"  formControlName='q23'>
          <label>4:</label>
          <input type="radio" name="q23" value="4" class="mx-2"  formControlName='q23'>
          <label>5:</label>
          <input type="radio" name="q23" value="5" class="mx-2"  formControlName='q23'>
        </div>
        <div class="my-2" >
          <label>Q24: I have difficulty understanding others' plans.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q24" value="1" class="mx-2"  formControlName='q24'>
          <label>2:</label>
          <input type="radio" name="q24" value="2" class="mx-2"  formControlName='q24'>
          <label>3:</label>
          <input type="radio" name="q24" value="3" class="mx-2"  formControlName='q24'>
          <label>4:</label>
          <input type="radio" name="q24" value="4" class="mx-2"  formControlName='q24'>
          <label>5:</label>
          <input type="radio" name="q24" value="5" class="mx-2"  formControlName='q24'>
        </div>
        <div class="my-2">
          <label>Q25: I have a vivid imagination.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q25" value="1" class="mx-2"  formControlName='q25'>
          <label>2:</label>
          <input type="radio" name="q25" value="2" class="mx-2"  formControlName='q25'>
          <label>3:</label>
          <input type="radio" name="q25" value="3" class="mx-2"  formControlName='q25'>
          <label>4:</label>
          <input type="radio" name="q25" value="4" class="mx-2"  formControlName='q25'>
          <label>5:</label>
          <input type="radio" name="q25" value="5" class="mx-2"  formControlName='q25'>
        </div>
        <div class="my-2">
          <label>Q26: I have excellent ideas.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q26" value="1" class="mx-2"  formControlName='q26'>
          <label>2:</label>
          <input type="radio" name="q26" value="2" class="mx-2"  formControlName='q26'>
          <label>3:</label>
          <input type="radio" name="q26" value="3" class="mx-2"  formControlName='q26'>
          <label>4:</label>
          <input type="radio" name="q26" value="4" class="mx-2"  formControlName='q26'>
          <label>5:</label>
          <input type="radio" name="q26" value="5" class="mx-2"  formControlName='q26'>
        </div>
        <div class="my-2">
          <label>Q27: I am quick to understand things.</label>
          <br>
          <label>1:</label>
          <input type="radio" name="q27" value="1" class="mx-2"  formControlName='q27'>
          <label>2:</label>
          <input type="radio" name="q27" value="2" class="mx-2"  formControlName='q27'>
          <label>3:</label>
          <input type="radio" name="q27" value="3" class="mx-2"  formControlName='q27'>
          <label>4:</label>
          <input type="radio" name="q27" value="4" class="mx-2"  formControlName='q27'>
          <label>5:</label>
          <input type="radio" name="q27" value="5" class="mx-2"  formControlName='q27'>
          <br>
          <span class="text-danger" *ngIf="submitted && multistep.invalid && forTheSpan">Please, answer all the questions in order to proceed!</span>
        </div>

      </div>
      <a class="btn mx-2 btn-outline-danger" *ngIf="step != 1" (click)="previous()">Previous</a>
      <button type="submit" class="btn  mx-2 my-2 btn-success" *ngIf="step != 3">Next</button>
      <button type="submit" class="btn btn-success x-2 my-2" *ngIf="step == 3">Submit</button>
      <br>
    </form>
  </div>

</div>


</body>
</html>




