.container{
  position: relative;
  top: 15vh;
  margin-bottom: 17vh;

}
.register-fonts-specifications{
  font-family: 'Cinzel', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
}
.discordTagColour{
  color: #573391;
}
.regionColour{
  color: red;
}
