

<form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm(registerForm)" class="w-50 container my-form">

    <div class="form-group">
        <label class="register-fonts-specifications" for="firstName">First Name*</label>
        <input formControlName='firstName' type="text" class="form-control" id="firstName" placeholder="ex. Mustafa">
        <div class="alert my-1 alert-danger" *ngIf="registerForm.get('firstName')?.errors != null && registerForm.get('firstName')?.touched">
          <p *ngIf="registerForm.get('firstName')?.errors?.['pattern']">First Name has to be only letters</p>
          <p *ngIf="registerForm.get('firstName')?.errors?.['required']">First Name is required</p>
          <p *ngIf="registerForm.get('firstName')?.errors?.['minlength']">First Name's min length has to be more than 3</p>
          <p *ngIf="registerForm.get('firstName')?.errors?.['maxlength']">First Name max length has to be less than 20</p>
        </div>
      </div>

      <div class="form-group">

        <label class="register-fonts-specifications" for="LastName">Last Name*</label>
        <input formControlName='lastName' type="text" class="form-control" id="LastName" placeholder="ex. Taha">

          <div class="alert my-1 alert-danger" *ngIf="registerForm.get('lastName')?.errors != null && registerForm.get('lastName')?.touched">
            <p *ngIf="registerForm.get('lastName')?.errors?.['pattern']">Last Name has to be only letters</p>
            <p *ngIf="registerForm.get('lastName')?.errors?.['required']">Last Name is required</p>
            <p *ngIf="registerForm.get('lastName')?.errors?.['minlength']">Last Name's min length has to be more than 3</p>
            <p *ngIf="registerForm.get('lastName')?.errors?.['maxlength']">Last Name max length has to be less than 20</p>
          </div>

      </div>

    <div class="form-group">
      <label class="register-fonts-specifications" for="EmailAddress">Email address*</label>
      <input  formControlName="email" type="email" class="form-control" id="EmailAddress" aria-describedby="emailHelp" placeholder="ex. mustafa@gmail.com">
      <div *ngIf="registerForm.get('email')?.errors != null && registerForm.get('email')?.touched" class="alert my-1 alert-danger">
        <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
        <p *ngIf="registerForm.get('email')?.errors?.['email']">Email is invalid!</p>
      </div>
      <small id="emailHelp" class="form-text text-muted mx-1">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label class="register-fonts-specifications" for="Password">Password*</label>
      <input formControlName="password" type="password" class="form-control" id="Password" placeholder="Password">
      <div *ngIf="registerForm.get('password')?.errors != null && registerForm.get('password')?.touched" class="alert my-1 alert-danger">
        <p *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</p>
      </div>
    </div>

    <div class="form-group">
      <label class="register-fonts-specifications" for="username">username*</label>
      <input formControlName="username" type="text" class="form-control" id="username" placeholder="ex. MustafaTaha">
      <div *ngIf="registerForm.get('username')?.errors != null && registerForm.get('username')?.touched" class="alert my-1 alert-danger">
        <p *ngIf="registerForm.get('username')?.errors?.['required']">user name is required</p>
      </div>
    </div>

      <div class="form-group">
        <label class="register-fonts-specifications" for="discordTag">discordTag* </label>
        <i class=" px-1 fa-brands fa-discord discordTagColour"></i>
        <input formControlName="discordTag" type="text" class="form-control" id="discordTag" placeholder="ex. Mustafa#1234">
        <div *ngIf="registerForm.get('discordTag')?.errors != null && registerForm.get('discordTag')?.touched" class="alert my-1 alert-danger">
          <p *ngIf="registerForm.get('discordTag')?.errors?.['required']">Discord Tag is required</p>
          <p *ngIf="registerForm.get('discordTag')?.errors?.['pattern']">Discord Tag might be in this form Mustafa#1234</p>
        </div>
      </div>

      <div class="form-group">
        <label class="register-fonts-specifications" for="Country">Country/Region* </label>
        <i class="px-1 fa-solid fa-location-dot regionColour" ></i>
        <input formControlName="country" type="text" class="form-control" id="Country" placeholder="ex. Egypt">
        <div *ngIf="registerForm.get('country')?.errors != null && registerForm.get('country')?.touched" class="alert my-1 alert-danger">
          <p *ngIf="registerForm.get('country')?.errors?.['required']">Country is required</p>
        </div>
      </div>

    <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary my-2 register-fonts-specifications">Go to Personality test</button>
    <div *ngIf="errorMessage" class="alert my-1 alert-danger">
      <p>{{errorMessage}}</p>
    </div>
</form>
