body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(84, 81, 255);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #2b2a9a;
  box-shadow: none;
}

.back:hover {
  cursor: pointer
}

.labels {
  font-size: 15px;
  color: white;
}

form {
  width: 90vw;
  margin: 50px auto;
}

input {
  width: 100%;
}

input[type="file"] {
  display: none;
}

.fileLabel {
  width: 170px;
  margin: 0 0 20px;
  padding: 8px 0 10px 0;
  text-align: center;
  border: 1px solid rgba(0,0,0,.5);
  background: rgb(44, 42, 129);
  border-radius: 10px;
  transition: background-color 0.2s;
}

.fileLabel:hover {
  cursor: pointer;
  background-color: #24247e;
}

img {
  border-radius: 50%;
  margin-bottom: 30px;
}

.btn {
  margin-bottom: 10px;
}
