<div class="container">

  <div *ngFor="let peer of myPeers" class="card">
    <img src="../../assets/images/human.png" alt="Person" class="card__image">
    <p class="card__name">{{peer.username}}</p>
    <div class="grid-container">

      <div class="grid-child-posts">
        305 Post
      </div>

      <div class="grid-child-followers">
        2643 Likes
      </div>

    </div>
    <ul class="social-icons">
      <li><a href="#"><i class="fa-brands fa-discord iconPositioning"></i></a></li>

    </ul>
    <button routerLink="/profile/{{peer.username}}" class="btn draw-border">View Profile</button>
    <button class="btn draw-border">...</button>
  </div>

</div>
