body{

  background-color: #000000;
   // background-image: url("assets/images/gaming\ background1.jpg");
  background-image: url("assets/images/high\ quality\ background.jpg");
 //background-position: center;
  background-size: cover;
  font-family: 'Cinzel', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
}
