body{

  background-color: #212529;
  background-image: url("assets/images/gaming\ background1.jpg");
  background-position: center;
  background-size: cover;
  font-family: 'Cinzel', serif;
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
}
