<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@500&family=Roboto:ital,wght@1,100&display=swap"
  rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark navbarContent">
  <div class="container-fluid">
    <div class="partyUp">
      <a class="navbar-brand" routerLink="home">PartyUp</a>

    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home" *ngIf="!checkIfUserLoggedIn()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="profile" *ngIf="checkIfUserLoggedIn()">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" *ngIf="!checkIfUserLoggedIn()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="findpeers" *ngIf="checkIfUserLoggedIn()">Find Peers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="register" *ngIf="!checkIfUserLoggedIn()">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="logout" (click)="shrinkingNotificationWhenLogout()" *ngIf="checkIfUserLoggedIn()">Log out</a>
        </li>
      </ul>
    </div>
    <div class="icon" (click)="expandingNotifications()" *ngIf="checkIfUserLoggedIn()" id="bell"> <i class="fa-solid fa-bell text-success" style="font-size: 1.33em;"></i>
    </div>
    <div *ngIf="bellDown" [ngClass]="{boxExpand: bellDown === true}" class="notifications" id="box">
      <h2>Notifications</h2>
      <div *ngFor="let notification of notifications" class="notifications-item" routerLink="profile/{{notification.username}}"> <img src="https://i.imgur.com/uIgDDDd.jpg" alt="img">
        <div class="text">
          <h4>{{notification.username}}</h4>
          <p>wants to peer with you</p>
        </div>
      </div>
    </div>
  </div>

</nav>
<hr class="bg-success Horizontal">
