.partyUp{
    font-family: 'Cinzel', serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
}
.navbarContent{
  position: relative;
}

.Horizontal{
  margin: 0;
  
}